*{
        margin:0;
        padding: 0;


}


.navbar{
color:white;
background-color:white;
position: fixed;
left: 0;
right: 0;
height: 10em;
width: -webkit-fill-available;
z-index: 100;

}
.right-navbar
{
    position: absolute;
    right:0em;
    top: 5em;
    line-height: 3em;
}
.right-navbar ul {
    display:flex;
   list-style-type:none;
   justify-content:flex-end;
}


.right-navbar ul li a{

    color:brown;
    font-family:sans-serif;
    text-transform: uppercase;
    text-decoration:none;
    font-weight:bold;
    padding: 2rem;
    height: 5em;
    font-size: x-large;
}

.logo{
    background-image:url(images/coffeelogo11.png);
    padding:4rem;
    background-repeat:no-repeat;
    position: absolute;
    left: 0em;
    height: 3em;
    width: -webkit-fill-available;
}




.right-navbar li a:hover{
    text-decoration:overline;


}



.topImage{
background-image:url(images/turquoise-cup-with-coffee-beans-on-a-wooden-8LF7PD5.jpg);
padding:225px;
background-repeat:no-repeat;
background-size:100%;
height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.logo2{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:60px;



}


.footerImage{

background-image:url(images/two-multiethnic-young-friends-enjoying-coffee-PTF2YQB.jpg);

height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

padding-top:200px;
padding-bottom:350px;
margin-top:60px;
margin-bottom:100px;

 background-repeat:no-repeat;
background-size:100%;

}

.outro h1{
    margin-top:60px;
    margin-bottom:300px;
color:black;
text-align:center;
font-size:50px;

font-family:serif;
text-transform:uppercase;


}
/*
*  About me page styling
*/


/*
*  Hero Image Styling Below the Header. *
*  1. VW and VH helps make the hero image section 100% of browser width and height.
*  2. Usage of Flexbox to ensure items within HeroImage are centered.
*  3.  Background Image Styling
*/
.heroImage {
  width: 100vw;
  height: 100vh;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items:center;
  text-align:center;

/*
  Background Hero Image Styling
*/
  background-image: url('images/aerial-view-of-various-coffee-payvegl.jpg');
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.8;
}

/*
  Mission Title "A+ Mission" Styling
*/
.missionTitle {
  font-family: 'Yellowtail', cursive;
  font-size: 5em;
  padding:3px;

}
/*
  Styling for Mission Statement Section underneath HeroImage Section
*/

.missionStatement {
  /*Text and background styling*/
  background-color:#905858;
  text-align:center;
  font-size: 25px;
  font-family: 'PT Sans Narrow';
  /*Adding Space between the bottom, top and right of the page and the text */
  padding: 50px 20px;
  margin-bottom: 160px;
  /*Used to create space between elements */
  line-height: 200%;
  /* Used to eliminate white space from vh vw */
  margin: 0 auto;
}

 .footerSection {
  padding: 20px 10px;

}
